<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="image" content="<% if (data && data.post) {%><% if (data.post.bgimg&&data.post.bgimg.length>0){%><%- data.post.bgimg %><%} else {%>/static/theme/img/post-bg.jpg<%}%><% } %>">
  <meta name="author" content="<% if (data && data.post) {%><%= data.post.author %><% } %>">
  <title>BeeBlog-<% if (data && data.post) {%><%= data.post.title %><% } %></title>
  <link href="/static/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/static/theme/css/clean-blog.min.css" rel="stylesheet">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/admin/hashsha256">Bee Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/blog">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/about">Thông tin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Header -->
  <% if (data && data.post){ %>
  <header class="masthead" style="background-image: url('<% if (data.post.bgimg&&data.post.bgimg.length>0){%><%- data.post.bgimg %><%} else {%>/static/theme/img/post-bg.jpg<%}%>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
         
          <div class="post-heading">
            <h1><%- data.post.title %></h1>
           <!--<h2 class="subheading">Problems look mighty small from 150 miles up</h2>--> 
            <span class="meta">Đăng bởi
              <b><%= data.post.author %></b>
              vào lúc <%= data.post.updated_at %></span>
          </div>
          
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% if (data.post.content){%><%- data.post.content.replace(/<img[^>]*>/, '') %><% } %>
        </div>
      </div>
    </div>
  </article>
  <% } %>
  <% if (data && data.error){ %>
    <div id="signupalert" class="alert alert-danger" style="text-align:center">
      <%= data.error %>
    </div>
  <%}%>
  <hr>

 <!-- Footer -->
 <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="mailto:bee051296@gmail.com? subject= Phản hồi từ 'Bee Blog'">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-google-plus-g fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/kdzuy">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; BeeBlog</p>
      </div>
    </div>
  </div>
</footer>
  <!-- Bootstrap core JavaScript -->
  <script src="/static/theme/vendor/jquery/jquery.min.js"></script>
  <script src="/static/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Custom scripts for this template -->
  <script src="/static/theme/js/clean-blog.min.js"></script>
</body>
</html>
